@model Spike.Web.Models.LoginModel

<div>
    <div class="row">
        <div class="col">Username</div>
        <div class="col">@Html.TextBox("Username", @Model.UserName)</div>
    </div>
    <div class="row">
        <div class="col">Password</div>
        <div class="col">@Html.TextBox("Username", string.Empty)</div>
    </div>
    <div class="row">
        <div class="col"><input type="button" value="Login"/>
        </div>
    </div>
    <div class="row">
        <div class="col">@Html.Label(@Model.Result)</div>
    </div>
 </div>
